*, *:after, *:before{
  box-sizing: border-box;
}
body{
  background-color: #B0B2B8;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.piano{
  padding: 0 10px 0 10px;
  background-color: #363C4A;
  border-radius: 15px 15px 0 0;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 920px;
}
.piano__info{
  width: 100%;
  display: flex;
}
.piano__user-container{
  min-width: 100px;
  background-color: #2D562D;
  padding: 5px;
  margin: 10px 0;
}
.piano__current-user{
  color: #81B73E;
  font-family: 'Orbitron', sans-serif;
  margin: 0;
  font-size: 16px;
}

.key{
  width: 60px;
  cursor: pointer;
  transition: all .3s;
}
.white{
  height: 220px;
  background-color: white;
  border: 5px solid #363C4A;
  border-bottom: 5px solid #DFD3D3;
  z-index: 1;
}
.white:active{
  border-bottom: none;
  background-color: #DFD3D3;
}
.black{
  width: 30px;
  height: 130px;
  background-color: #363C4A;
  z-index: 2;
  margin-left: -15px;
  margin-right: -15px;
  border-bottom: 5px solid #5D5E67;
}
.black:active{
  border-bottom: none;
}
.pressed{
  border-bottom: none;
  background-color: #f09071;
}